<h1>home</h1>
<% if @current_user.blank? %>
  <a href="/auth/google_oauth2">ログイン/新規登録</a>
<% else %>
  <%= @current_user.name %>
  <%= link_to "poem一覧", poem_index_path %>
  <ul>
    <% @users.each do |user| %>
    <li>
      <div>
        <%= user.name %>
      </div>
      <div>
        <% poem = user.poem.order(:updated_at).last %>
        <%= link_to poem.title, poem %>
      </div>
    </li>
    <% end %>
  </ul>
<% end %>
