// Place all the styles related to the poem controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin navWidth($width) {
  .pager {
    .previous{
      a {
        display: block;
        width: $width;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .next {
      a{
        display: block;
        width: $width;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}

.emoji {
  vertical-align: middle;
  width: 20px;
  height: 20px;
}

.poem-preview{
  padding-bottom: 0px;
  height: 360px;
  overflow: scroll;
  border-left: 1px solid #ddd;
  .page-header {
    margin-top: 20px;
  }
}

.poem-submit{
  padding-top: 15px;
  border-top: 1px solid #ddd;
}

.repoem-link{
  margin-bottom: 15px;
}

@include navWidth(250px);

@media (max-width: 768px) {
  .repoem-link{
    margin-bottom: 0;
  }
  .poem-preview {
    display: none;
  }
  .poem-form {
    margin: 15px;
  }

  @include navWidth(150px);
}
