// Place all the styles related to the poem controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.poem-area {
  min-height: 300px;
}

.emoji {
  vertical-align: middle;
  width: 20px;
  height: 20px;
}

.poem-preview{
  padding-bottom: 0px;
  height: 360px;
  overflow: scroll;
  border-left: 1px solid #ddd;
  .page-header {
    margin-top: 20px;
  }
}

.poem-submit{
  padding-top: 15px;
  border-top: 1px solid #ddd;
}

@media (max-width: 768px) {
  .poem-preview {
    display: none;
  }
  .poem-form {
    margin: 15px;
  }
}
