// Place all the styles related to the poem controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.poem-area {
  min-height: 300px;
}

.user_operation {
  .read_mark {
    margin-right: 10px;
    cursor: pointer;
  }
}

.navigation {
  margin-top: 10px;
}
