<div class="page-header">
  <h1>自分のポエム一覧</h1>
</div>
<ul class="list-group container-fluid">
  <% @poems.each do |poem| %>
    <li class="list-group-item ">
      <div class="row">
        <div class="col-xs-9">
          <%= link_to poem.title, poem %>
        </div>
        <div class="col-xs-3">
          <%= poem.created_at%>
        </div>
      </div>
    </li>
  <% end %>
</ul>
